# Backend
backend/vendor/
backend/uploads/*
backend/.env
backend/.phpunit.cache

# General & Node
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
/frontend/node_modules/
/frontend/test-results/
/frontend/playwright-report/
/frontend/blob-report/
/frontend/playwright/.cache/
/frontend/playwright/.auth/